<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elearning">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mlearninglogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mlearninglogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.elearning.AboutDeveloper"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.RateApp"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.AboutApp"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.TermsCondition"
            android:exported="false" />

        <activity
            android:name="com.example.elearning.MechanicalB"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.ITB"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.ETXB"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.AutomobileB"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.CivilB"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.ComputerB"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.elearning.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.elearning.MainActivity"
            android:exported="false" />
    </application>

</manifest>